{% extends "base.html" %}
{% block title %}{{image.title}}{% endblock %}

<!----------------------------------block content------------------------->
{% block content %}
<h1>{{image.title}}</h1>

{% load thumbnail %}
{% thumbnail image.image "300" as im %}
<a href="{{ image.image.url }}">
    <img src="{{im.url}}" class="image-detail">
</a>
{% endthumbnail %}

{% with total_likes=image.users_like.count users_like=image.users_like.all views_count=image.views_count %}
<div class="image-info">
    <div>
        <span class="count">
            <span class="total">
                {{total_likes}}
            </span>
            like{{total_likes|pluralize}}
        </span>

        <span class="count">
            <span class="total">
                {{views_count}}
            </span>
            view{{views_count|pluralize}}
        </span>

        <a href="#" data-id="{{image.pk}}"
           data-action="{% if request.user in users_like %}un{% endif %}like"
           class="like button">
<!-- обрати внимание на эти строчки в скрипте ниже. Они полуают инфу от тега a (data-id и data-action)-->
<!--    //id: $(this).data('id'),
        //action: $(this).data('action')-->
            {% if request.user not in users_like %}
            Like
            {% else %}
            Unlike
            {% endif %}
        </a>
    </div>
    {{image.description|linebreaks}}
</div>
<div class="image-likes">
    {% for user in users_like %}
    <div>
        <img src="{{user.profile.photo.url}}">
        <p>{{user.username}}</p>
    </div>
    {% empty %}
    Nobody likes this image yet
    {% endfor %}
</div>
{% endwith %}
{% endblock %}
<!----------------------------------endblock content------------------------->

<!----------------------------------block domready------------------------->
<!-- скрипт для лайков (редиректит на {# url 'images:like' #})
отправляет пост запрос на {# url 'images:like' #} с полями id=...&action=...
 прием это ajax запрос (в запрос добавляется специальный header) и request.is_ajax() == True -->
{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}
<!----------------------------------endblock domready------------------------->