{% extends "base.html" %}
{% block title %}Bookmark an image{% endblock %}

{% block content %}
<h1>Images bookmarket</h1>
<div id="image-list">
    {% include 'images/image/list_ajax.html' %}
</div>
{% endblock %}

<!----------------------------------block domready------------------------->
<!--
очевидно, что //('#image-list').append(data) где #image-list это id для div, а
data - это images подгружаемый нашем обрабочиком list_view на конкретной странице
т.е. код js каким то образом делает get запрос на {# url 'images:list' #}
с get параметром ?page=  (но его не видно)
То есть там, где происходит //$('#image-list').append(data);
вызывается наш обработик list_view благодаря ajax запросу с get параметром page-->
{% block domready %}
  var page = 1;
  var empty_page = false;
  var block_request = false;

  $(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
     block_request = true;
      page += 1;
      $.get('?page=' + page, function(data) {
       if(data == '') {
          empty_page = true;
        }
        else {
          block_request = false;
          $('#image-list').append(data);
        }
      });
    }
  });
{% endblock %}
<!----------------------------------endblock domready------------------------->